/*nav*/
/* Estilo para el borde rojo del botón de menú hamburguesa */
.navbar-toggler-custom {
    border: 2px solid red;
    border-radius: 0.25rem;
}

/* Estilo adicional para el ícono del menú hamburguesa */
.navbar-toggler-custom .navbar-toggler-icon {
    background-image: url('data:image/svg+xml;charset=utf8,%3Csvg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 30 30"%3E%3Cpath stroke="%23d3d3d3" stroke-width="2" d="M5 7h20M5 15h20M5 23h20"/%3E%3C/svg%3E');
    background-repeat: no-repeat;
    background-position: center;
    background-size: 1.5em 1.5em;
    width: 1.5em;
    height: 1.5em;
}

/* Estilo para centrar el logo en vista grande */
@media (min-width: 992px) {
    .navbar-brand {
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        top: 50%;
        transform: translate(-50%, -50%);
    }

    .navbar-collapse {
        display: flex;
        justify-content: flex-end; /* Ajusta el menú a la derecha */
    }
}

/*fin nav*/

/*s1*/
.hero-section {
    background: url('/img/banner.png') center center no-repeat;
    background-size: contain;
    color: white;
    padding: 0 20px;
    margin-top: 20px !important;
    min-height: 70vh;
    display: flex;
    justify-content: flex-start; /* Mantiene el texto a la izquierda en pantallas grandes */
    align-items: flex-start; /* Alinea el texto más hacia arriba */
    position: relative;
}

.section-heading {
    margin-left: 180px; /* Aumenta el margen izquierdo para que no esté pegado */
    margin-top: 265px; /* Ajusta la altura del texto para que esté más elevado */
    max-width: 600px; /* Limita el ancho del texto para que no se extienda demasiado */
}

/* Ajustes para pantallas medianas (1206px y menores) */
@media (max-width: 1204px) {
    .hero-section {
        justify-content: center; /* Centra el texto en pantallas pequeñas */
        align-items: center; /* Centra verticalmente el texto */
    }

    .section-heading {
        margin-left: 0; /* Elimina el margen izquierdo */
        margin-top: 0; /* Elimina el margen superior */
        text-align: center; /* Centra el texto */
        font-size: 1.2em; /* Ajusta el tamaño de la fuente si es necesario */
    }
}

/* Ajustes para pantallas pequeñas (celulares) */
@media (max-width: 480px) {
    .hero-section {
        min-height: 50vh;
        padding: 0 10px;
        background-size: cover;
    }

    .section-heading {
        font-size: 1em; /* Ajusta el tamaño de la fuente */
    }
}

.container {
    text-align: left; /* Alinear texto a la izquierda */
}
  
/*fin s1*/

.section-heading {
    font-size: 2rem;
    font-weight: bold;
}

.section-content {
    font-size: 1rem;
    margin-top: 20px;
}

.custom-image {
    max-width: 100%;
    height: auto;
}

.bg-red {
    background-color: #d60000;
    color: white;
}

.bg-black {
    background-color: #000;
    color: white;
}

.btn-custom {
    background-color: #000;
    color: white;
    border: none;
    padding: 10px 20px;
}

.btn-custom:hover {
    background-color: #333;
    color: white;
}

/* Responsive styling */
@media (max-width: 768px) {
    .hero-section {
        padding: 60px 20px;
    }

    .section-heading {
        font-size: 1.5rem;
    }
}

.section-content {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    line-height: 1.5;
    padding: 10px;
    font-size: 1rem; /* Tamaño base de la fuente */
    text-align: justify; /* Ajusta el texto para mejor presentación */
}

/* Ajustes para pantallas pequeñas */
@media (max-width: 768px) {
    .section-content {
        font-size: 0.9rem; /* Ajuste para tablets y pantallas medianas */
        padding: 8px;
    }

    .custom-image {
        max-width: 80%!important; /* Limita el ancho al 80% */
        display: block; /* Necesario para usar margin auto */
        margin: 0 auto; /* Centrará la imagen horizontalmente */
        align-items: center!important;
      
    }
}

/* Para evitar el desplazamiento horizontal */
body {
    overflow-x: hidden; /* Elimina el desplazamiento horizontal */
}

/* s2 */
.section-heading2, .section-content {
    margin: 0; /* Elimina márgenes predeterminados */
    padding: 0; /* Elimina el relleno extra */
    text-align: left; /* Alinea el texto a la izquierda */
}

.custom-image {
    width: 80%; /* Ajusta el tamaño de la imagen */
    height: auto; /* Mantiene las proporciones de la imagen */
    object-fit: cover; /* Asegura que la imagen cubra el espacio correctamente */
    
}

.row {
    align-items: flex-start; /* Asegura que el texto y la imagen inicien desde el borde superior */
}

.col-md-6 {
    padding-left: 0; /* Elimina el relleno izquierdo en la columna de texto */
    padding-right: 0; /* Elimina el relleno derecho en la columna de imagen */
    margin-left: 0; /* Evita márgenes innecesarios */
}

/*fin page about us*/

/* Philosophy Section Styles */
.bg-red {
    background-color: #d60000;
    color: white;
}

.bg-black {
    background-color: #000;
    color: white;
    border-radius: 8px; /* Añade bordes redondeados para suavizar la apariencia */
}

.section-heading {
    font-size: 2rem;
    font-weight: bold;
    margin-bottom: 20px; /* Añade un margen inferior para separar del contenido */
}

.section-content {
    font-size: 1rem;
    margin-bottom: 20px; /* Añade un margen inferior para separar del botón */
}

.btn-custom {
    background-color: #000;
    color: white;
    border: none;
    padding: 10px 20px;
    transition: background-color 0.3s; /* Añade una transición suave */
}

.btn-custom:hover {
    background-color: #333;
    color: white;
}

/* Responsive adjustments */
@media (max-width: 768px) {
    .section-heading {
        font-size: 1.5rem; /* Ajusta el tamaño del texto en pantallas más pequeñas */
        text-align: center; /* Centra el texto en pantallas pequeñas */
    }

    .section-content {
        text-align: center; /* Centra el contenido */
    }
    

    .bg-black {
        text-align: center; /* Centra el contenido de la lista en pantallas pequeñas */
    }
}
/* Ajustes generales para evitar desplazamientos en el contenedor */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Asegúrate de que el texto de las secciones esté centrado */
section {
    text-align: center; /* Centra todo el texto dentro de la sección */
}

/* Sección específica para eliminar márgenes */
body > section.py-4 > div > div > div.col-md-6.bg-red-custom.d-flex.align-items-stretch > div {
    margin-left: 0 !important; /* Elimina margen izquierdo */
    margin-right: 0 !important; /* Elimina margen derecho */
}

/* Ajustes para pantallas pequeñas (celulares) */
@media (max-width: 480px) {
    .hero-section {
        min-height: 50vh;
        padding: 0; /* Sin relleno para evitar desplazamientos */
        background-size: cover;
        display: flex; /* Usar flex para centrar verticalmente */
        justify-content: center; /* Centrar horizontalmente */
        align-items: center; /* Centrar verticalmente */
    }

    /* Sección 1: Asegúrate de que la imagen esté centrada */
    .section1 {
        display: flex;
        justify-content: center; /* Centra la imagen */
        align-items: center; /* Centra verticalmente la imagen */
        margin: 0; /* Elimina márgenes */
    }

    /* Sección 2 */
    .section2 {
        display: flex;
        flex-direction: column; /* Apilar elementos */
        align-items: center; /* Centra elementos dentro de la sección */
        margin: 0; /* Elimina márgenes */
        font-size: 0.9rem; /* Tamaño de fuente más pequeño */
        line-height: 1.4; /* Mejora el espaciado de línea */
    }

    /* Sección 3 */
    .section3 {
        display: flex;
        flex-direction: column; /* Apilar elementos */
        align-items: center; /* Centra elementos dentro de la sección */
        margin: 0; /* Elimina márgenes */
        font-size: 0.9rem; /* Tamaño de fuente más pequeño */
        line-height: 1.4; /* Mejora el espaciado de línea */
    }

    /* Sección 4 */
    .section4 {
        display: flex;
        flex-direction: column; /* Apilar elementos */
        align-items: center; /* Centra elementos dentro de la sección */
        margin: 0; /* Elimina márgenes */
        font-size: 0.9rem; /* Tamaño de fuente más pequeño */
        line-height: 1.4; /* Mejora el espaciado de línea */
    }

    /* Sección 5b */
    .section5b {
        display: flex;
        flex-direction: column; /* Apilar elementos */
        align-items: center; /* Centra elementos dentro de la sección */
        margin: 0; /* Elimina márgenes */
        font-size: 0.9rem; /* Tamaño de fuente más pequeño */
        line-height: 1.4; /* Mejora el espaciado de línea */
    }

    /* Ajustes de texto y botones */
    .section-heading {
        margin-bottom: 10px; /* Agrega espacio inferior */
    }

    .btn-custom {
        width: auto; /* Elimina el ancho completo */
        padding: 8px 16px; /* Ajusta el tamaño del botón */
        margin: 10px auto; /* Centra el botón */
        display: block; /* Asegura que el botón se comporte como bloque */
    }

    /* Imagen centrada */
    .image-section {
        display: flex;
        justify-content: center; /* Centra la imagen */
        align-items: center; /* Centra verticalmente la imagen */
        margin: 0; /* Elimina márgenes */
    }
}

/* Ajustes para pantallas medianas (1206px y menores) */
@media (max-width: 1204px) {
    .section-heading {
        font-size: 1.4em; /* Ajusta el tamaño de la fuente */
        margin-bottom: 10px; /* Agrega espacio inferior */
    }
    .section-heading2{
        padding: 0 38px;
    }
    .section-content-custom{
        padding: 0 38px;
    }

    .section-content {
        font-size: 1rem; /* Tamaño de fuente más pequeño */
        padding: 0 20px; /* Relleno para mayor espacio */
    }

    .btn-custom {
        width: auto; /* Elimina el ancho completo */
        padding: 8px 16px; /* Ajusta el tamaño del botón */
        margin: 10px auto; /* Centra el botón */
 
 
    }

    .section-title-custom{
        padding-top: 50px;
    }

    .section-heading2{
        padding-top: 10px;
    }
 
}

/* Ajustes para pantallas pequeñas (celulares) */
@media (max-width: 480px) {
    .text-start {
        padding: 20px 0; /* Ajustar relleno para mayor espacio */
        margin: 0; /* Elimina márgenes */
        display: flex;
        flex-direction: column; /* Coloca los elementos uno encima del otro */
        align-items: center; /* Centra el contenido horizontalmente */
    }

    .list-unstyled.text-red-custom {
        margin-left: 0px;
        font-size: 0.9rem; /* Tamaño de fuente más pequeño */
        margin-right: 80px;
    }

    
  /* Padding default para todos los dispositivos */
  .custom-section {
    padding: 0;
  }

  /* Media Query para dispositivos móviles o pantallas pequeñas */
  @media (max-width: 768px) {
    .custom-section {
      padding: 40px;
    }
  }
    .element.style {
        margin-left: 0px;
    }
    .text-start{
        margin-left: -10px;
    }

    .list-unstyled.text-red-custom li {
        margin-bottom: 10px; /* Espacio entre los elementos de la lista */
    }
}
